**Instituto TecnolÃ³gico y de Estudios Superiores de Monterrey**

>![image.png]()

**MatemÃ¡ticas y ciencia de datos para la toma de decisiones (Gpo 602)**

**Fase 2:Entendimiento de los datos**

**Alumna:**
>Ana Itzel HernÃ¡ndez GarcÃ­a | A01737526

**Profesoras**

*Azucena BolaÃ±os Carrera*

*Mariana Olivares Avalos*

28/05/2023

In [ ]:
#Datos personales
edad = 18
peso = 70
altura = 163
genero = "Mujer"

In [ ]:
import pandas as pan

In [ ]:
#Cargado de datos
consumo = pan.read_excel("A01737526_EtiquetasNutrimentales.xlsx")
consumo

,Fecha,Momento,Nombre,Calorias (kcal),Carbohidratos (g),LÃ­pidos (g),ProteÃ­na (g),Sodio (mg)
0,2023-02-21,Desayuno,Avena con fruta,190,37.81,2.29,6.18,260.0
1,2023-02-21,Desayuno,Chocolate caliente,190,5.47,29.90,8.80,95.0
2,2023-02-21,Comida,Sandwich,339,17.54,25.75,18.76,1323.0
3,2023-02-21,Comida,Papas fritas,153,10.49,13.93,1.84,147.0
4,2023-02-21,Cena,Palomitas,148,7.60,17.00,2.90,250.0
...,...,...,...,...,...,...,...,...
221,2023-05-16,Desayuno,cafÃ©,38,0.00,9.53,0.26,5.0
222,2023-05-16,Comida,Carne al pastor,210,0.00,17.50,13.20,680.0
223,2023-05-16,Comida,Refresco,130,0.00,34.00,0.00,20.0
224,2023-05-16,Cena,Gelatina de chocolate,129,19.10,3.20,5.90,65.0
225,2023-05-16,Cena,cafÃ©,38,0.00,9.53,0.26,5.0

**Cargado de datos:**

Primero se importa la libreria Pandas

Luego se sube el archivo de exel en el almacenamiento

El comando *.read_excel* se ocupa para llamar los datos del archivo, los cuales se almacenan en la variable *consumo*

Se llama la variable *consumo* para que se impriman los datos

**Tipo de datos:** Adquiridos(externos)

In [ ]:
consumo.columns

Index(['Fecha', 'Momento', 'Nombre', 'Calorias (kcal)', 'Carbohidratos (g)',
       'LÃ­pidos (g)', 'ProteÃ­na (g)', 'Sodio (mg)'],
      dtype='object')

Los atributos mÃ¡s prometedores son los que se encuentran en la *columna 'Calorias (kcal)'*

Y los que se pueden excluir porque por el memento no son muy requeridos son *'Fecha'* y *'Momento'*

In [ ]:
consumo.info() #Ver la informaciÃ³n

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              226 non-null    datetime64[ns]
 1   Momento            226 non-null    object
 2   Nombre             226 non-null    object
 3   Calorias (kcal)    226 non-null    int64
 4   Carbohidratos (g)  226 non-null    float64
 5   LÃ­pidos (g)        226 non-null    float64
 6   ProteÃ­na (g)       226 non-null    float64
 7   Sodio (mg)         226 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 14.2+ KB

In [ ]:
consumo.shape #Ver la cantidad de datos

(226, 8)

Si se obtiene buena cantidad de datos para hacer una prediccion a futuro y que sea facil de interpretar  pero de preferencia se van a recolectar mÃ¡s.

No se estan fusionando fusionando varias fuentes de datos ya que solo se ocupa un archivo de excel

In [ ]:
226*8

1808

La cantidad de datos es buena (1080 datos) y la calidad depende de la veracidad de la calculadora de calorias, la cual no siempre tenia registrados los alimentos que consumia pero tenia alternativas parecidas

**Hipotesis 1**

El consumo de calorias es elevado llegando a generar sobre peso por lo cual el mejor escenario es disminuir el consumo de calorias.

**Hipotesis 2**

El consumo de calorias es ligeramente elvado, se tiene  un peso normal pero a largo plazo podrÃ­a generar sobrepeso causando que sea mejor modificar el consumo de calorias